@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff) format("woff"),
         url(../fonts/Montserrat-Regular.woff2) format("woff2");
         font-weight: 400;
         font-style: normal;
         font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.woff) format("woff"),
        url(../fonts/Montserrat-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff) format("woff"),
        url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff) format("woff"),
        url(../fonts/Montserrat-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.woff) format("woff"),
         url(../fonts/Inter-Medium.woff2) format("woff2");
         font-weight: 500;
         font-style: normal;
         font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.woff) format("woff"),
         url(../fonts/Inter-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}