// Color

$primary-text-color: #000000;
$secondary-text-color: #0E0E0E;
$button-color: #E86F54;
$button-hover-color: #E25B41;
$button-focus-color: #FA6F54;
$primary-white-color: #ffffff;

// Animation

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Adaptiv

$mobile: 479.98px;
$tablet: 767.98px;
$desktop: 1279.98px;