// Color

$primary-text-color: rgb(0, 0, 0);
$secondary-text-color: rgb(13, 13, 13);
$button-color: rgb(232, 111, 84);
$button-hover-color: #E25B41;
$button-focus-color: #FA6F54;
$primary-white-color: #ffffff;

// Animation

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Adaptiv

$mobile: 479.98px;
$tablet: 767.98px;
$desktop: 1279.98px;