<section class="about"
         id="about">
  <div class="container">
    <h2 class="title">
      about
    </h2>
    <div class="about__list">
        <div class="about__item">
            <p class="about-subtitle">
              We are a minimalistic flower studio. We love people and flowers.
              Therefore, every day we give people the beauty and joy creating
              stylish and modern masterpieces. Every bouquet we create is unique as
              you are.
            </p>
        </div>
        <div class="about__item">
            <picture>
              <source srcset="./images/image_about.jpg 1x, ./images/image_about@x2.jpg 2x"
                      media="(min-width: 1280px)">
              <source srcset="./images/image_about_tablet.jpg 1x, ./images/image_about_tablet@x2.jpg 2x"
                      media="(min-width: 768px)">
              <source srcset="./images/image_about_mobile.jpg 1x, ./images/image_about_mobile@x2.jpg 2x"
                      media="(max-width: 767px)">
              <img src="./images/image_about_mobile.jpg"
                   alt="flowers"
                   loading="lazy">
            </picture>
        </div>
    </div>
  </div>
</section>