<section class="blog"
         id="blog">
  <div class="container">
    <h2 class="title">Blog</h2>
  </div>
  <div class="slider">
    <div class="slider__item">
     <img class="img" src="./images/flowers-slider1@x2.jpg" alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/flowers-slider2@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/flowers-slider3@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/flowers-slider4@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/flowers-slider5@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/flowers-slider6@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/bouquet@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/bouquet_l@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/bouquet_m@x2.jpg"
           alt="flovers">
    </div>
    <div class="slider__item">
      <img class="img"
           src="./images/bouquet_s@x2.jpg"
           alt="flovers">
    </div>
  </div>
  <div class="container">
    <p class="blog__subtitle">Follow to our newsletter</p>
    <button class="content__button"
            type="button"
            id="subscribe"
            modal-open>Subscribe</button>
  </div>
</section>