<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    
<section class="">
    <div class="container">
        <h2 class="title">BLOG</h2>
        <ul>
            <li>
                <img src="./images/flowers-slider3.jpg" alt="flowers" width="315">
            </li>
            <li>
                <img src="./images/flowers-slider1.jpg" alt="flowers" width="315">
            </li>
            <li>
                <img src="./images/flowers-slider2.jpg" alt="flowers" width="315">
            </li>
        </ul>
        <p>Follow to our newsletter</p>
        <button class="button" type="submit">Subscribe</button>
    </div>
</section>

</body>
</html>