<section class="blog"
         id="blog">
  <div class="container">
    <h2 class="title">
      Blog
    </h2>
  </div>
  <div class="slider">
    <div class="slider__item">
      <picture>
          <source srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/flowers-slider_tablet1.jpg 1x, ./images/flowers-slider_tablet1@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/flowers-slider_mobile1.jpg 1x, ./images/flowers-slider_mobile1@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/flowers-slider_mobile1.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/flowers-slider2.jpg 1x, ./images/flowers-slider2@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/flowers-slider_tablet2.jpg 1x, ./images/flowers-slider_tablet2@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/flowers-slider_mobile2.jpg 1x, ./images/flowers-slider_mobile2@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/flowers-slider_mobile2.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/flowers-slider3.jpg 1x, ./images/flowers-slider3@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/flowers-slider_tablet3.jpg 1x, ./images/flowers-slider_tablet3@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/flowers-slider_mobile3.jpg 1x, ./images/flowers-slider_mobile3@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/flowers-slider_mobile3.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/flowers-slider4.jpg 1x, ./images/flowers-slider4@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/flowers-slider_tablet4.jpg 1x, ./images/flowers-slider_tablet4@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/flowers-slider_mobile4.jpg 1x, ./images/flowers-slider_mobile4@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/flowers-slider_mobile4.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/flowers-slider5.jpg 1x, ./images/flowers-slider5@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/flowers-slider_tablet5.jpg 1x, ./images/flowers-slider_tablet5@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/flowers-slider_mobile5.jpg 1x, ./images/flowers-slider_mobile5@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/flowers-slider_mobile5.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/flowers-slider6.jpg 1x, ./images/flowers-slider6@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/flowers-slider_tablet6.jpg 1x, ./images/flowers-slider_tablet6@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/flowers-slider_mobile6.jpg 1x, ./images/flowers-slider_mobile6@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/flowers-slider_mobile6.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/bouquet.jpg 1x, ./images/bouquet@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/bouquet_tablet.jpg 1x, ./images/bouquet_tablet@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/bouquet_mobile.jpg 1x, ./images/bouquet_mobile@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/bouquet_mobile.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/bouquet_l.jpg 1x, ./images/bouquet_l@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/bouquet_tablet_l.jpg 1x, ./images/bouquet_tablet_l@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/bouquet_mobile_l.jpg 1x, ./images/bouquet_mobile_l@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/bouquet_mobile_l.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/bouquet_m.jpg 1x, ./images/bouquet_m@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/bouquet_tablet_m.jpg 1x, ./images/bouquet_tablet_m@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/bouquet_mobile_m.jpg 1x, ./images/bouquet_mobile_m@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/bouquet_mobile_m.jpg"
           alt="flovers">
        </picture>
    </div>
    <div class="slider__item">
      <picture>
          <source srcset="./images/bouquet_s.jpg 1x, ./images/bouquet_s@x2.jpg 2x"
                  media="(min-width: 1280px)">
          <source srcset="./images/bouquet_tablet_s.jpg 1x, ./images/bouquet_tablet_s@x2.jpg 2x"
                  media="(min-width: 768px)">
          <source srcset="./images/bouquet_mobile_s.jpg 1x, ./images/bouquet_mobile_s@x2.jpg 2x"
                  media="(max-width: 767px)">
          <img class="img"
           src="./images/bouquet_mobile_l.jpg"
           alt="flovers">
        </picture>
    </div>
  </div>
  <div class="container">
    <p class="blog__subtitle">
      Follow to our newsletter
    </p>
    <button class="content__button"
            type="button"
            id="subscribe"
            modal-open>
      Subscribe
    </button>
  </div>
</section>