<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    
<section class="">
    <div class="container">
        <h2 class="title">BLOG</h2>
        <ul>
            <li>
                <img src="./images/flowers-slider3.jpg" alt="flowers" width="315">
            </li>
            <li>
                <img src="./images/flowers-slider1.jpg" alt="flowers" width="315">
            </li>
            <li>
                <img src="./images/flowers-slider2.jpg" alt="flowers" width="315">
            </li>
        </ul>
        <p>Follow to our newsletter</p>
        <button class="button" type="submit">Subscribe</button>
    </div>
</section>
<div>
    <picture>
        <source srcset="./images/image_about.jpg 1x, ./images/image_about@x2.jpg 2x"
        media="(min-width: 1200px)">
        <source srcset="./images/image_about_tablet.jpg 1x, ./images/image_about_tablet@x2.jpg 2x"
        media="(min-width: 768px)">
        <source srcset="./images/image_about_mobile.jpg 1x, ./images/image_about_mobile@x2.jpg 2x"
        media="(max-width: 767px)">
        <img src="./images/image_about.jpg" alt="flowers" max-width="632" max-height="344">
    </picture>
    <p></p>
    <p></p>
    <form action=""></form>
</div>

</body>
</html>