<section class="delivery"
         id="delivery">
  <div class="container">
    <h2 class="title">
          Delivery
    </h2>
    <ol class="delivery__list">
      <li class="delivery__item">
        <div class="delivery-item__wrap">
          <span class="delivery-item__number">
            1
          </span>
        </div>
        <p class="delivery-item__text">
          Choose your bouquet and make an order on website
        </p>
      </li>
      <li class="delivery__item">
        <div class="delivery-item__wrap">
          <span class="delivery-item__number">
            2
          </span>
        </div>
        <p class="delivery-item__text">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </p>
      </li>
      <li class="delivery__item">
        <div class="delivery-item__wrap">
          <span class="delivery-item__number">
            3
          </span>
        </div>
        <p class="delivery-item__text">
          Wait for the delivery at the selected time or pick up the order from
          the store
        </p>
      </li>
      <li class="delivery__item">
        <div class="delivery-item__wrap">
          <span class="delivery-item__number">
            4
          </span>
        </div>
        <p class="delivery-item__text">
          Make someone happy or enjoy yourself
        </p>
      </li>
    </ol>
  </div>
  <picture>
    <source srcset="./images/image_delivery.jpg 1x, ./images/image_delivery@x2.jpg 2x"
            media="(min-width: 1280px)">
            <source srcset="./images/image_delivery_tablet.jpg 1x, ./images/image_delivery_tablet@x2.jpg 2x"
            media="(max-width: 1279px)">
    <source srcset="./images/image_delivery_tablet.jpg 1x, ./images/image_delivery_tablet@x2.jpg 2x"
            media="(min-width: 768px)">
    <source srcset="./images/image_delivery_mobile.jpg 1x, ./images/image_delivery_mobile@x2.jpg 2x"
            media="(max-width: 767px)">
    <img src="./images/image_delivery_mobile.jpg"
         alt="flowers"
         loading="lazy">
  </picture>
</section>