<section class="delivery">
    <div class="container">
        <h2 class="title">Delivery</h2>
        <ul class="delivery__list">
            <li class="delivery__item"><span class="delivery-item__wrap">1</span>
                <span class="delivery-item__number">1</span>
                <p class="delivery-item__text">Choose your bouquet and make an order on website</p>
            </li>
            <li class="delivery__item"><span class="delivery-item__wrap">2</span>
                <span class="delivery-item__number">2</span>
                <p class="delivery-item__text">Wait for the call to clarify the details of the order.
                    You can pay online or to the courier</p>
            </li>
            <li class="delivery__item"><span class="delivery-item__wrap">3</span>
                <span class="delivery-item__number">3</span>
                <p class="delivery-item__text">Wait for the delivery at the selected time or pick up
                        the order from the store</p>
            </li>
            <li class="delivery__item"><span class="delivery-item__wrap">4</span>
                <span class="delivery-item__number">4</span>
                <p class="delivery-item__text">Make someone happy or enjoy yourself</p>
            </li>
        </ul>
    </div>
</section>