<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <a class="footer__link"
         href="./index.html">
        <svg class="footer__link--logo"
             width="73"
             height="57">
          <use href="./images/sprite.svg#iconlogo">
          </use>
        </svg>
      </a>
      <div class="footer-thumb__nav">
        <nav class="footer-nav">
          <p class="footer-subtitle">
            Navigation
          </p>
          <ul class="footer-nav__list">
            <li class="footer__text">
              <a class="footer-nav__link"
                 href="#hero">
                Anemone
              </a>
            </li>
            <li class="footer__text">
              <a class="footer-nav__link"
                 href="#about">
                About
              </a>
            </li>
            <li class="footer__text">
              <a class="footer-nav__link"
                 href="#store">
                Store
              </a>
            </li>
            <li class="footer__text">
              <a class="footer-nav__link"
                 href="#delivery">
                Delivery
              </a>
            </li>
            <li class="footer__text">
              <a href="#blog"
                 class="footer-nav__link">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <div class="footer__work-time">
          <p class="footer-subtitle">
            Opening times
          </p>
          <p class="footer__text">
            Every day
          </p>
          <p class="footer__text">
            9:00 - 22:00
          </p>
        </div>
      </div>
      <div class="footer-thumb__contacts">
        <div class="footer__contacts">
          <p class="footer-subtitle">
            Contacts
          </p>
          <ul class="footer__contacts-list">
            <li class="footer__text">
              <a class="footer__contacts--link"
                 href="tel:+380631234567">
                +38 063 123 45 67
              </a>
            </li>
            <li class="footer__text">
              <a class="footer__contacts--link"
                 href="mailto:anemonestudio@example.com">
                anemonestudio@
                <span>
                  example.com
                </span>
              </a>
            </li>
          </ul>
          <p class="footer__text">
            Reitarska Street, 11<br>
            Kyiv, Ukraine
          </p>
        </div>
        <ul class="footer__social-list">
          <li class="footer__social-list__item">
            <a class="footer-social__link"
               href="https://www.facebook.com/"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="facebook link" >
              <svg class="footer-social__icon"
                   width="28"
                   height="28">
                <use href="./images/sprite.svg#iconfacebook">
                </use>
              </svg>
            </a>
          </li>
          <li class="footer__social-list__item">
            <a class="footer-social__link"
               href="http://instagram.com"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="instagram link">
              <svg class="footer-social__icon"
                   width="28"
                   height="28">
                <use href="./images/sprite.svg#iconinstagram">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>