<footer class="footer">
    <div class="footer-container">
        <a class="footer__logo" href=""></a>
        <nav class="footer-navigation">
            <p class="footer-subtitle">Navigation</p>
            <ul class="footer-navigation__list">
                <li class="footer__text">Anemone</li>
                <li class="footer__text">About</li>
                <li class="footer__text">Store</li>
                <li class="footer__text">Delivery</li>
            </ul>
        </nav>
        
        <div class="footer__work-time">
            <p class="footer-subtitle">Opening times</p>
            <p class="footer__text">Every day</p>
                <p class="footer__text">9:00 - 22:00</p>
        </div>
        
        <div class="footer__contacts">
            <p class="footer-subtitle">Contacts</p>
            <ul>
                <li class="footer__text"> <a href="tel:+380631234567">+38 063 123 45 67</a></li>
                <li class="footer__text"><a href="mailto:anemonestudio@example.com">anemonestudio@<br>example.com</a></li>
            </ul>
            <p class="footer__text">Reitarska Street, 11
            Kyiv, Ukraine</p>
        </div>
        
        <div> 
            <ul>
                <li>
                    <svg class="footer-social__link" width="28" height="28">
                        <use href="./images/sprite.svg#iconfacebook"></use>
                    </svg>
                </li>
                <li>
                    <svg class="footer-social__link" width="28" height="28">
                        <use href="./images/sprite.svg#iconinstagram"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</footer>