<header class="header">
    <div class="container">
      <div class="nav">
        <nav class="nav__block">
            <svg class="nav__logo"  >
              <use href="./images/sprite.svg#iconlogo" ></use>
            </svg>
          <button
            type="button"
            class="nav__button is-open"
            aria-expanded="false"
            aria-controls="nav__container"
            data-menu-button
          >
          <svg
            class="nav__icon"
            width="40px"
            height="40px"
            aria-label="Перемикач мобільного меню">
            <use
              class="nav__close"
              href="./images/sprite.svg#iconclose">
            </use>
            <use
              class="nav__menu"
              href="./images/sprite.svg#iconburger-menu">
            </use>
          </svg>
          </button>
          <ul class="nav__pages">
            <li class="nav__item">
              <a href="/"
                class="nav__link"> Anemone
              </a>
            </li>
            <li class="nav__item">
              <a href="/"
                class="nav__link"> About us
              </a>
            </li>
            <li class="nav__item">
              <a href="/"
                class="nav__link"> Store
              </a>
            </li>
            <li class="nav__item">
              <a href="/"
                class="nav__link"> Delivery
              </a>
            </li>
            <li class="nav__item">
              <a href="/"
                class="nav__link"> Blog
              </a>
            </li>
          </ul>
        </nav>
        <ul class="connection">
          <li class="connection__item">
            <a class="connection__link"
              href="tel:">
              <svg class="connection__icon" width="10px" height="16px">
                <use href="./images/sprite.svg#icontel"></use>
              </svg>
            </a>
          </li>
        </ul> 
      </div>
    </div>
  </header>

  <!-- nav-menu -->

<div class="nav__container" id="nav__container" data-menu>
  <ul class="nav__container--pages">
    <li class="nav__container--item current">
      <a href="/" class="nav__container--link current"> Anemone </a>
    </li>
    <li class="nav__container--item">
      <a href="/" class="nav__container--link"> About us </a>
    </li>
    <li class="nav__container--item">
      <a href="/" class="nav__container--link"> Store </a>
    </li>
    <li class="nav__container--item">
      <a href="/" class="nav__container--link"> Delivery </a>
    </li>
    <li class="nav__container--item">
      <a href="/" class="nav__container--link"> Blog </a>
    </li>
  </ul>
</div>

    <script src="./js/index.js"></script>