<hero class="hero section" id="title-1">
    <section class="hero__container container">
    
        <p class="hero__subtitle">flower <br>
            studio</p>

        <picture class="hero__img"> 
            <source
              srcset="
                ./images/image_hero.jpg 1x,
                ./images/image_hero@x2.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/image_hero_tablet.jpg 1x,
                ./images/image_hero_tablet@x2.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/image_hero_mobile.jpg 1x,
                ./images/image_hero_mobile@x2.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/image_hero.jpg"
              alt="Главное фото цветка"
            
            />
          </picture>

        <button class="hero__btn" data-modal-open>
            <svg class="hero__svg">
                <use href="./images/sprite.svg#iconbutton"></use>
            </svg>
        </button>
  
    <h1 class="hero__title">ANEMONE</h1>
    </section>
</hero>


<div class="backdrop is-hidden" data-modal>

<div class="modal-connection">
    <button class="close-btn">
        <svg class="close-btn__svg" data-modal-close>
            <use href="./images/sprite.svg#iconclose"></use>
        </svg>
    </button>
    <p class="modal-connection__title">Contact us</p>
    <p class="modal-connection__discription">If you have any additional questions or you want to clarify something before you make an order please fill in your contact details. We will call you back. </p>
   
    <form action="" class="form-connection">
        <label for="" class="form-connection__label">
            <p class="form-connection__name">Name</p>
            <input type="text" class="form-connection__field" placeholder="Your name" >
        </label>
        <label for="" class="form-connection__label">
            <p class="form-connection__name">Email</p>
            <input type="text" class="form-connection__field" placeholder="Your email">
        </label>
        <button class="form-hero__btn" type="submit">Send</button>
    </form>
</div>



<div class="modal-thanks">
    <button class="close-btn">
        <svg class="close-btn__svg">
            <use></use>
        </svg>
    </button>
    <picture class="modal-thanks__img"></picture>
    <p class="modal-thanks__title">Thank you!</p>
    <p class="modal-thanks__description">We have received your contact details and will reach you soon.</p>
    <button class="form-hero__btn" type="submit">Continue</button>
</div>
</div>