<section class="hero"
         id="hero">
  <div class="container">
    <div class="hero__box">
      <p class="hero__subtitle">
        flower <br>
        studio
      </p>
      <picture class="hero__img">
        <source srcset="./images/image_hero.jpg 1x, ./images/image_hero@x2.jpg 2x"
                media="(min-width: 1280px)">
        <source srcset="./images/image_hero_tablet.jpg 1x, ./images/image_hero_tablet@x2.jpg 2x"
                media="(min-width: 768px)">
        <source srcset="./images/image_hero_mobile.jpg 1x, ./images/image_hero_mobile@x2.jpg 2x"
                media="(max-width: 767px)">
        <img src="./images/image_hero_mobile.jpg"
             alt="flowers">
      </picture>
      <button class="hero__btn"
              data-modal-open
              type="button"
              id="openOrderFromHero"
              aria-label="contact-us-btn">
        <svg class="hero__svg" width="64" height="76">
          <use href="./images/sprite.svg#iconbutton"></use>
        </svg>
      </button>
    </div>
    <h1 class="hero__title">
      ANEMONE
    </h1>
  </div>
</section>
<source>