<div class="nav__container"
     id="nav__container"
     data-menu>
  <button class="nav__container--button"
          type="button">
    <svg id="closeMenuBtn"
         class="nav__container--icon"
         width="24px"
         height="24px"
         aria-label="switch for mobile menu">
      <use class="nav__close"
           href="./images/sprite.svg#iconclose">
      </use>
    </svg>
  </button>
  <ul id="mobile-menu"
      class="nav__container--pages">
    <li class="nav__container--item">
      <a href="#hero"
         class="nav__container--link">
        Anemone
      </a>
    </li>
    <li class="nav__container--item">
      <a href="#about"
         class="nav__container--link">
        About us
      </a>
    </li>
    <li class="nav__container--item">
      <a href="#store"
         class="nav__container--link">
        Store
      </a>
    </li>
    <li class="nav__container--item">
      <a href="#delivery"
         class="nav__container--link">
        Delivery
      </a>
    </li>
    <li class="nav__container--item">
      <a href="#blog"
         class="nav__container--link">
        Blog
      </a>
    </li>
  </ul>
</div>