<div class="backdrop is-hidden"
     data-modal
     id="modalConnection">
  <div class="modal-connection">
    <svg class="modal__close"
         id="closeOrderModal"
         data-modal-close>
      <use href="./images/sprite.svg#iconmodal-close">
      </use>
    </svg>
    <p class="modal-connection__title">Contact us
    </p>
    <p class="modal-connection__discription">
      If you have any additional questions or you want to clarify something
      before you make an order please fill in your contact details. We will call
      you back.
    </p>
    <form id="orderForm"
          class="form-connection">
      <label for="name"
             class="form-connection__label">
        <p class="form-connection__name">
          Name
        </p>
        <input required
               type="text"
               class="form-connection__field"
               placeholder="Your name"
               name="name"
               id="name"
               pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
               autocomplete="off">
      </label>
      <label for="email"
             class="form-connection__label">
        <p class="form-connection__name">
          Email
        </p>
        <input required
               type="email"
               class="form-connection__field"
               placeholder="Your email"
               name="email"
               id="email"
               autocomplete="off">
      </label>
      <button class="modal__button"
              type="submit">
          Send
      </button>
    </form>
  </div>
</div>