<section>
  <!-- <div class="container slider">
    <div class="slider-item">
      <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-item">
      <picture>
        <source
          srcset="./images/flowers-slider2.jpg 1x, ./images/flowers-slider2@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet2.jpg    1x,
            ./images/flowers-slider_tablet2@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile2.jpg    1x,
            ./images/flowers-slider_mobile2@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider2.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-item">
     <picture>
        <source
          srcset="./images/flowers-slider3.jpg 1x, ./images/flowers-slider3@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet3.jpg    1x,
            ./images/flowers-slider_tablet3@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile3.jpg    1x,
            ./images/flowers-slider_mobile3@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider3.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-item">
      <picture>
        <source
          srcset="./images/flowers-slider4.jpg 1x, ./images/flowers-slider4@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet4.jpg    1x,
            ./images/flowers-slider_tablet4@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile4.jpg    1x,
            ./images/flowers-slider_mobile4@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider4.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-item">
     <picture>
        <source
          srcset="./images/flowers-slider5.jpg 1x, ./images/flowers-slider5@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet5.jpg    1x,
            ./images/flowers-slider_tablet5@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile5.jpg    1x,
            ./images/flowers-slider_mobile5@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider5.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-item">
      <picture>
        <source
          srcset="./images/flowers-slider6.jpg 1x, ./images/flowers-slider6@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet6.jpg    1x,
            ./images/flowers-slider_tablet6@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile6.jpg    1x,
            ./images/flowers-slider_mobile6@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider6.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
  </div> -->
  <div class="container">
    <h2 class="title">Blog</h2>
  </div>

  <div class="slider">
    <div class="slider-item">
        <img src="./images/flowers-slider1@x2.jpg" alt="flowers">
    </div>
    <div class="slider-item">
        <img src="./images/flowers-slider2@x2.jpg" alt="flowers">
    </div>
    <div class="slider-item">
        <img src="./images/flowers-slider3@x2.jpg" alt="flowers">
    </div>
    <div class="slider-item">
        <img src="./images/flowers-slider4@x2.jpg" alt="flowers">
    </div>
    <div class="slider-item">
        <img src="./images/flowers-slider5@x2.jpg" alt="flowers">
    </div>
    <div class="slider-item">
        <img src="./images/flowers-slider6@x2.jpg" alt="flowers">
    </div>
  </div>

  <div class="container">
    <p class="blog__subtitle">Follow to our newsletter</p>
    <button class="content__button">Subscribe</button>
  </div>
</section>
