<section>
  <div>
    <div class="slider-img">
      <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-img">
      <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-img">
     <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-img">
      <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-img">
     <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-img">
      <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
    <div class="slider-img">
      <picture>
        <source
          srcset="./images/flowers-slider1.jpg 1x, ./images/flowers-slider1@x2.jpg 2x"
          media="(min-width: 1232px)"
        />
        <source
          srcset="
            ./images/flowers-slider_tablet1.jpg    1x,
            ./images/flowers-slider_tablet1@x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/flowers-slider_mobile1.jpg    1x,
            ./images/flowers-slider_mobile1@x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/flowers-slider1.jpg"
          alt="flowers"
          max-width="315"
          max-height="369"
        />
      </picture>
    </div>
  </div>
</section>
