<section class="store"
         id="store">
  <div class="container">
    <h2 class="title">
      Store
    </h2>
    <ul class="store__list">
      <li class="store__item">
        <img class="store__img"
             srcset="
            ./images/bouquet_mobile.jpg     136w,
            ./images/bouquet_mobile@x2.jpg  272w,
            ./images/bouquet_tablet.jpg     344w,
            ./images/bouquet_tablet@x2.jpg  688w,
            ./images/bouquet.jpg            600w,
            ./images/bouquet@x2.jpg        1280w"
             src="./images/bouquet_mobile.jpg"
             sizes="(min-width:1280px) 47vw, (min-width:768px) 45vw, 43vw"
             alt="compliments"
             loading="lazy" />
        <h3 class="store__title">
          compliments
        </h3>
        <p class="store__text">
          from $15
        </p>
      </li>
      <li class="store__item">
        <img class="store__img"
             srcset="
            ./images/bouquet_mobile_s.jpg     136w,
            ./images/bouquet_mobile_s@x2.jpg  272w,
            ./images/bouquet_tablet_s.jpg     344w,
            ./images/bouquet_tablet_s@x2.jpg  688w,
            ./images/bouquet_s.jpg            600w,
            ./images/bouquet_s@x2.jpg        1200w"
             src="./images/bouquet_mobile_s.jpg"
             sizes="(min-width:1280px) 47vw, (min-width:768px) 45vw, 43vw"
             alt="bouquets size S"
             loading="lazy" />
        <h3 class="store__title">
          bouquets size S
        </h3>
        <p class="store__text">
          from $25
        </p>
      </li>
      <li class="store__item">
        <img class="store__img"
             srcset="
            ./images/bouquet_mobile_m.jpg     136w,
            ./images/bouquet_mobile_m@x2.jpg  272w,
            ./images/bouquet_tablet_m.jpg     344w,
            ./images/bouquet_tablet_m@x2.jpg  688w,
            ./images/bouquet_m.jpg            600w,
            ./images/bouquet_m@x2.jpg        1200w"
             src="./images/bouquet_mobile_m.jpg"
             sizes="(min-width:1280px) 47vw, (min-width:768px) 45vw, 43vw"
             alt="bouquets size M"
             loading="lazy" />
        <h3 class="store__title">
          bouquets size M
        </h3>
        <p class="store__text">
          from $45
        </p>
      </li>
      <li class="store__item">
        <img class="store__img"
             srcset="
            ./images/bouquet_mobile_l.jpg     136w,
            ./images/bouquet_mobile_l@x2.jpg  272w,
            ./images/bouquet_tablet_l.jpg     344w,
            ./images/bouquet_tablet_l@x2.jpg  688w,
            ./images/bouquet_l.jpg            600w,
            ./images/bouquet_l@x2.jpg        1200w"
             src="./images/bouquet_mobile_l.jpg"
             sizes="(min-width:1280px) 47vw, (min-width:768px) 45vw, 43vw"
             alt="bouquets size L"
             loading="lazy" />
        <h3 class="store__title">
          bouquets size L
        </h3>
        <p class="store__text">
          from $60
        </p>
      </li>
    </ul>
    <button class="content__button"
            type="button"
            id="openOrderModal"
            data-modal-open-store>
          Order flowers
    </button>
  </div>
</section>