<section>
    <h2>Store</h2>
    <ul>
        <li>
          
            <h3>compliments</h3>
            <p>from $15</p>
        </li> 
        <li>
            
            <h3>bouquets size S</h3>
            <p>from $25</p>
        </li>
        <li>
            
            <h3>bouquets size M</h3>
            <p>from $45</p>
        </li>
        <li>
            
            <h3>bouquets size L</h3>
            <p>from $60</p>
        </li>
    </ul>
    <button type="button">Order flowers</button>
</section>