.about-subtitle {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;

  @media screen and (min-width: $tablet) {
    margin-bottom: unset;
    font-size: 20px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: unset;
    font-size: 22px;
  }
}

.about__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.about__item {
  width: 100%;
  
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 54px;
    }
  }
}
