.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 2;

  background-color: #00000033;
  visibility: visible;
  opacity: 1;
  transition: visibility 250ms linear, opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
