.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.slick-prev {
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.slider {
  position: relative;

  &__item {
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;

    transition: all $cubic;
    opacity: 0.4;
    transform: scale(0.7);

    &.slick-center {
      opacity: 1;
      transform: scale(1);
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;

    width: 41px;
    height: 27px;
  }

  & .slick-arrow.slick-prev {
    left: 5px;
    background: url(../images/prev.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
  }

  & .slick-arrow.slick-next {
    right: 5px;
    background: url(../images/next.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
  }
}
