.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.slider {
  position: relative;
   
  margin-bottom: 40px;

  
  
  &__item {
    text-align: center;

    transition: all $cubic;
    opacity: 0.3;
    transform: scale(0.9);

    &.slick-center {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;

    width: 41px;
    height: 27px;
  }

  & .slick-arrow.slick-prev {
    left: 5px;
    background: url(../images/prev.svg) 0 0 no-repeat;
   
    &:before {
      display: none;
    }
  }

  & .slick-arrow.slick-next {
    right: 10px;
    background: url(../images/next.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
  }
}

.blog__subtitle {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.2px;

  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;

    font-size: 32px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 48px;
  }
}
