.blog {
  max-width: 480px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1280px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;

  margin-bottom: 50px;
  transition: all $cubic;

  &__item {
    text-align: center;

    transition: all $cubic;
    opacity: 0.3;
    transform: scale(0.8);

    &:not(:first-child) {
        margin-right: 8px;

        @media screen and (min-width: $tablet) {
        margin-right: 32px;
      }

    &.slick-center {
      opacity: 1;
      transform: scale(1);
      }
      
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;

    width: 50px;
    height: 55px;
  }

  & .slick-arrow.slick-prev {
    left: 20px;
    background: url(../images/icon-prev.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }

    @media screen and (max-width: $tablet) {
      background: none;
    }
  }

  & .slick-arrow.slick-next {
    right: 20px;
    background: url(../images/icon-next.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
    @media screen and (max-width: $tablet) {
      background: none;
    }
  }
}

.img {
  width: 153px;
  height: 181px;

  @media screen and (min-width: $tablet) {
    width: 344;
    height: 398px;
  }

  @media screen and (min-width: $desktop) {
    width: 390px;
    height: 421px;
  }
}

.blog__subtitle {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;

    font-size: 32px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 48px;
  }
}
