.footer {
  margin: 0 auto;
  padding: 32px 0;

  font-family: 'Inter';

  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);

  color: $primary-white-color;
  background-color: #000000;

  @media screen and(min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 54px;

    font-size: 16px;
  }

  @media screen and(min-width: $desktop) {
    padding-top: 73px;
    padding-bottom: 72px;
  }
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;

  @media screen and(min-width: $tablet) {
    flex-wrap: nowrap;
  }
}

.footer-thumb__nav {
  display: flex;
  width: 100%;

  @media screen and(min-width: $tablet) {
    width: 50%;
  }

  @media screen and(min-width: $desktop) {
    width: unset;
    margin-right: 96px;
  }
}

.footer-nav {
  margin-right: auto;

  @media screen and(min-width: $tablet) {
    margin-right: 44px;
  }

  @media screen and(min-width:$desktop) {
    margin-right: 96px;
  }
}
.footer-nav__link {
  transition: color $cubic;

  &:hover {
    color: $button-hover-color;
  }

  &:focus {
    color: $button-focus-color;
  }
}
.footer-thumb__contacts {
  display: flex;
  width: 100%;

  @media screen and(min-width: $tablet) {
    width: 50%;
    justify-content: space-around;
  }

  @media screen and(min-width: $desktop) {
    justify-content: space-between;
  }
}

.footer__contacts {
  max-width: 128px;
  margin-right: auto;

  @media screen and(min-width: $tablet) {
    min-width: 236px;
    margin-right: unset;
  }
}

.footer__contacts--link {
  display: flex;
  flex-wrap: wrap;

  transition: color $cubic;

  &:hover {
    color: $button-hover-color;
  }

  &:focus {
    color: $button-focus-color;
  }
}

.footer__link {
  display: none;

  @media screen and(min-width:$desktop) {
    display: block;

    margin-right: 210px;
  }
}

.footer__link--logo {
  fill: currentColor;
}

.footer-subtitle {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);

  @media screen and(min-width: $tablet) {
    font-size: 20px;
  }
}

.footer-navigation__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.footer__work-time {
  @media screen and(min-width: $tablet) {
    min-width: 143px;

    margin-right: 44px;
  }

  @media screen and(min-width: $desktop) {
    margin-right: unset;
  }
}

.footer-social__link {
  transition: color $cubic;
  
  &:hover {
    color: $button-hover-color;
  }

  &:focus {
    color: $button-focus-color;
  }
}

.footer-social__icon {
  stroke: currentColor;
}

.footer__text:not(:last-child) {
  margin-bottom: 12px;
}

.footer__contacts-list {
  margin-bottom: 12px;
}

.footer__social-list {
  display: flex;

  margin-right: 58px;
  gap: 14px;

  @media screen and(min-width: $tablet) {
    flex-direction: column;
    gap: 18px;

    margin-right: unset;
  }

  @media screen and(min-width: $desktop) {
    margin-right: 32px;
  }
}
