.nav {
  padding-top: 28px;
  display: flex;
  align-items: center;

  &__block {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $secondary-text-color;

    @media screen and (min-width: $tablet) {
      width: 72px;
      height: 57px;
    }
  }

  &__button {
    display: inline-flex;

    margin-left: 14px;
    padding: 0;

    border: none;

    background-color: $primary-white-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $button-hover-color;
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__menu {
    display: none;
  }

  &__button.is-open .nav__menu {
    display: block;
  }

  &__button.is-open .nav__close {
    display: none;
  }

  &__pages {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;

      padding-top: 0;
      margin: 0;
      margin-left: 80px;
      gap: 24px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 261px;
      gap: 48px;
    }
  }

  &__link {
    display: block;

    font-size: 20px;
    line-height: 1.2;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $button-hover-color;
    }
  }

  .connection {
    margin-left: auto;

    &__link {
      display: flex;
      color: $secondary-text-color;
    }

    &__icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: $button-hover-color;
      }

      @media screen and (min-width: $desktop) {
        width: 28px;
        height: 28px;
      }
    }
  }
}
