.nav {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    text-align: center;

    background-color: $button-color;
    transform: translateX(-100%);
    transition: transform $cubic;

    &.is-open {
      transform: translateY(0);

      @media screen and (min-width: $tablet) {
        display: none;
      }
    }

    &--pages {
      gap: 26px;

      :last-child {
        margin-bottom: 0;
      }
    }

    &--link {
      font-size: 20px;
      line-height: 1.21;

      color: $primary-white-color;
    }

    &--item {
      margin-bottom: 26px;

    }

    &--button {
      display: flex;
      flex-direction: row-reverse;
      
      margin-bottom: 84px;
      padding-top: 16px;
      padding-right: 16px;
      
    }

    &--icon {
      cursor: pointer;
    }
  }
}
