.hero {
  padding-top: 44px;

  @media screen and (min-width: $tablet) {
    padding-top: 38px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 64px;
  }

  &__box {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    display: block;

    margin-left: 11px;
    margin-right: auto;

    font-size: 14px;
    line-height: calc(17 / 14);

    color: $primary-text-color;

    @media screen and (min-width: $tablet) {
      margin-left: 49px;

      font-size: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin: 0;

      font-size: 32px;
    }
  }

  &__img {
    @media screen and (min-width: $desktop) {
      margin-left: 110px;
      margin-right: 110px;
    }
  }
 
  &__btn {
    margin-left: auto;

    background-color: transparent;

    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }

  &__svg {
    fill: currentColor;

    transition: fill $cubic;

    @media screen and (min-width: $tablet) {
      width: 145px;
      height: 150px;
    }
    @media screen and (min-width: $desktop) {
      width: 166px;
      height: 166px;
    }
    &:hover {
      fill: $button-hover-color;
    }

    &:focus {
      fill: $button-focus-color;
    }
  }

  &__title-box {
    position: relative;
    z-index: 0;
    margin-top: -27px;

    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-top: -52px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: -102px;
    }
  }

  &__title {
    position: relative;
    text-align: center;
    z-index: 0;
    margin-top: -27px;
    font-weight: 400;
    font-size: 52px;
    line-height: calc(63 / 52);

    @media screen and (min-width: $tablet) {
      margin-top: -52px;
      font-size: 120px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: -102px;
      font-size: 160px;
    }
  }
}

.form-hero__btn {
  display: flex;
  justify-content: center;

  width: 100%;

  padding-bottom: 10px;
  padding-top: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);

  color: $primary-white-color;
  background-color: $button-color;
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    padding-top: 14px;

    font-size: 18px;
  }
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  color: transparent;
  fill: $primary-text-color;

  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;
  }

  &__svg {
    fill: $primary-text-color;

    @media screen and (min-width: $tablet) {
      width: 24px;
      height: 24px;
    }
  }
}
