@media screen and (min-width: $mobile) {
}
@media screen and (max-width: $tablet) {
}
@media screen and (max-width: $desktop) {
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $mobile) {
  }
  @media screen and (max-width: $tablet) {
  }
  @media screen and (max-width: $desktop) {
  }

  &__subtitle {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    @media screen and (min-width: $mobile) {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
    @media screen and (max-width: $tablet) {
      font-size: 24px;
      line-height: calc(29 / 24);
    }
    @media screen and (max-width: 1279.98) {
      font-size: 32px;
      line-height: calc(39 / 32);
    }
  }
}
