/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slick-prev {
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.slider {
  position: relative;

  max-width: 1280px;

  &__item {
    // width: 287px;
    // height: 346px;

    margin-right: 8px;

    text-align: center;

    transition: all $cubic;
    opacity: 0.4;

    &.slick-center {
      opacity: 1;
    }

    @media screen and (min-width: $tablet) {
      margin-right: 32px;  
    }

    @media screen and (min-width: $desktop) {
      margin-right: 65px;  
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;

    width: 41px;
    height: 27px;
  }

  & .slick-arrow.slick-prev {
    left: 5px;
    background: url(../images/prev.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
  }

  & .slick-arrow.slick-next {
    right: 5px;
    background: url(../images/next.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
  }
}

.sliderbig {
    width: 428px;
    height: 509px;

    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $desktop) {
        display: none;
    }

}