.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.slick-prev {
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.slider {
  position: relative;

  max-width: 1280px;

  &__item {
    margin-right: 8px;

    text-align: center;

    transition: all $cubic;
    opacity: 0.4;

    &.slick-center {
      opacity: 1;
    }

    @media screen and (min-width: $tablet) {
      margin-right: 32px;  
    }

    @media screen and (min-width: $desktop) {
      margin-right: 65px;  
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;

    width: 41px;
    height: 27px;
  }

  & .slick-arrow.slick-prev {
    left: 5px;
    background: url(../images/prev.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
  }

  & .slick-arrow.slick-next {
    right: 5px;
    background: url(../images/next.svg) 0 0 no-repeat;

    &:before {
      display: none;
    }
  }
}

.sliderbig {

    width: 428px;
    height: 509px;

    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $desktop) {
        display: none;
    }

}